---
import Nav from '../components/Nav.astro';
import Layout from '../layouts/BlogPost.astro';
import BlogPost from '../layouts/BlogPost.astro';
---


<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date('March 14 2024')}
>
<Nav/>
<div class="max-w-xl rounded overflow-hidden shadow-lg mx-auto text-2xl">
	<div class="px-6 py-4">
	  <p class="text-gray-700 text-base text-center">
		Here's a shortened version:

		"I'm currently pursuing a Bachelor's degree in Computer Science Engineering at Sri Eshwar College of Engineering, deeply immersed in the dynamic world of programming and technology. With a genuine passion for innovation, I joyfully explore software development, focusing on mobile app development, particularly Flutter. I'm fascinated by its versatility in creating cross-platform applications and eagerly delve deeper into its capabilities. Beyond academics, I'm an avid learner with a curiosity for emerging technologies, especially blockchain, and its transformative impact on various industries. I see boundless opportunities for innovation, particularly in the fintech sector. Effective communication is one of my strongest assets, honed through both academic and practical experiences. I believe in collaboration, cultivating environments where ideas flourish. With a disciplined work ethic and commitment to excellence, I approach tasks with meticulous attention, driven by a thirst for knowledge and a belief in technology's power to shape the future."	</div>
  </div>
  
  


</Layout>
