<template>
    <div class="flex justify-center items-center gap-14 mt-32">
      <!-- First Box -->
      <a href="/projects" class="max-w-sm rounded overflow-hidden shadow-lg transform transition-transform duration-300 hover:scale-105">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Household Parking System</div>
          <p class="text-gray-700 text-base">
            Built with React, Tailwind CSS, and TypeScript, enables users to post available household parking spots and book them for short durations. It simplifies the process of finding and reserving parking, connecting spot owners with those in need of convenient parking solutions. With user-friendly interfaces and robust backend functionalities, our platform streamlines the entire parking management process, enhancing accessibility and efficiency for both spot owners and seekers alike.
          </p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#react</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#typescript</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#tailwind css</span>
        </div>
      </a>
      <!-- Second Box -->
      <a href="/projects" class="max-w-sm rounded overflow-hidden shadow-lg transform transition-transform duration-300 hover:scale-105">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Appointment Management System</div>
          <p class="text-gray-700 text-base">
            Developed a Hospital Appointment Scheduler with Java, JavaFX, MySQL, and Scene Builder, which offers a user-friendly interface for patients to request appointments, access medical history, and receive automated reminders. Doctors can efficiently manage schedules and patient information. This system prioritizes data security and regulatory compliance, providing a streamlined and responsive solution for healthcare appointment management.
          </p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#java fx</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#scene builder</span>
        </div>
      </a>
      <!-- Third Box -->
      <a href="/projects" class="max-w-sm rounded overflow-hidden shadow-lg transform transition-transform duration-300 hover:scale-105">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Gene-rator</div>
          <p class="text-gray-700 text-base">
            Developed a Python-based Discord bot utilizing NLTK's VADER for sentiment analysis. Analyzed user messages to discern emotions: happiness, anger, surprise, sadness, fear. Generated personalized movie recommendations based on predominant emotions. Integrated OMDb API for movie details and dispatched tailored Discord messages. Showcases Python skills, NLTK sentiment analysis, API integration, and user-centric messaging.
          </p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#python</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#nlp</span>
        </div>
      </a>
    </div>
  </template>
  