---
export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
import Nav from "../components/Nav.astro";

//Import .env variables
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Nav />
    <main>
      <h1 class="page-title">{title}</h1>
      <slot />
    </main>
  </body>
</html>